.titulo1{ text-align: center;
}
.nav1{ text-align: left; font-size: 20px; 
}
.legend1{ text-align: center; color: crimson; font-size: 20px;
}
.titulo2{text-align: center; font-size: 40px;
}
.p1{text-align: center; color: crimson;
}
.img1{ align-items: center;
}
.h2{ text-align: center; font-size: 40px;
}
.section1{text-align: center;
}
.p2{color: crimson;
}
.form{ text-align: center;
}
.aside{text-align: center;
}
.footer{text-align: center;
}
.address{color: crimson; font-size: 20px;
}