
.div1 {
    height: 100px;
    width: 100px;
    background-color: red;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: green;
}

.div3 {
    height: 200px;
    width: 200px;
    background-color: blue;
}
